.u-section-1 .u-sheet-1 {
  min-height: 1130px;
}

.u-section-1 .u-slider-1 {
  width: 1140px;
  margin-top: 92px;
  margin-bottom: 0;
  min-height: 375px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 50px 0;
}

.u-section-1 .u-image-1 {
  width: 895px;
  height: 290px;
  margin: 0 auto 0 51px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px 13px;
}

.u-section-1 .u-image-2 {
  width: 894px;
  height: 291px;
  margin: 42px auto -17px;
}

.u-section-1 .u-container-layout-3 {
  padding: 24px 50px 30px;
}

.u-section-1 .u-image-3 {
  width: 894px;
  height: 290px;
  margin: 0 auto 0 67px;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-image-4 {
  width: 326px;
  height: 213px;
  margin: 42px 141px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -232px 525px 0 137px;
}

.u-section-1 .u-text-2 {
  margin: 20px 525px 0 137px;
}

.u-section-1 .u-text-3 {
  margin: 79px 656px 0 137px;
}

.u-section-1 .u-image-5 {
  width: 195px;
  height: 163px;
  margin: 49px 816px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 195px;
  height: 163px;
  margin: -162px auto 0 375px;
}

.u-section-1 .u-image-7 {
  width: 193px;
  height: 160px;
  margin: -160px 337px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 189px;
  height: 162px;
  margin: -162px auto 0 845px;
}

.u-section-1 .u-text-4 {
  margin: 20px 816px 0 129px;
}

.u-section-1 .u-text-5 {
  margin: -42px 570px 0 375px;
}

.u-section-1 .u-text-6 {
  margin: -42px 325px 0 620px;
}

.u-section-1 .u-text-7 {
  margin: -42px 100px 23px 845px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-slider-1 {
    width: 940px;
    min-height: 364px;
  }

  .u-section-1 .u-image-1 {
    width: 840px;
    height: 272px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 840px;
    height: 273px;
  }

  .u-section-1 .u-image-3 {
    width: 840px;
    height: 273px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 120px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 425px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 556px;
    margin-left: 37px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 745px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 375px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 751px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 22px;
    margin-right: 745px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 470px;
    margin-left: 275px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 225px;
    margin-left: 520px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 745px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 214px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 660px;
    height: 215px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    width: 660px;
    height: 215px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 242px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 242px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 373px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 525px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
    margin-left: 375px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 525px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 525px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 115px;
    margin-left: 410px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: 115px;
    margin-left: 410px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
    min-height: 304px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 169px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 169px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 169px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 193px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 345px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 345px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 345px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 345px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 345px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 345px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 25px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 25px;
    margin-left: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    min-height: 266px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 104px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 104px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 104px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 74px;
    margin-right: 145px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-right: 145px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-right: 145px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-right: 145px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 145px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 145px;
  }
}